@model FuncionarioModel
@{
    ViewData["Title"] = "Apagar-Funcionario";
}

<div class="text-center">
    <h3> Realmente deseja apagar o  Funcionario (@Model.Nome) ?</h3>
</div>
<br />
<br />
<a class="btn btn-outline-danger btn-block" role="button"asp-controller="Funcionarios" asp-route-id="@Model.IdFuncionario" asp-action="Apagar">Confirmar Exclusão</a>
<a class="btn btn-outline-secondary btn-block" role="button" asp-controller="Funcionarios" asp-action="Index">Cancelar </a>


