@model FuncionarioModel
@{
    ViewData["Title"] = "Cadastro-Funcionarios";
}

<div class="text-center">
    
    <h1> Cadastrar novo Funcionario</h1>
    
</div>

<form asp-controller="Funcionarios" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" asp-for="NomeCompleto" class="form-control" placeholder="digite seu Nome Completo">
    </div>
    <div class="form-group">
        <label for="dataNasc">Data Nascimento</label>
        <input type="date" asp-for="DataNasc" class="form-control" placeholder="digite sua Data nascimento">
    </div>
    <div class="form-group">
        <label for="telFixo">Tel Fixo</label>
        <input type="tel" asp-for="TelFixo" class="form-control" placeholder="11 1234567825">
    </div>
    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="tel" asp-for="Celular" class="form-control" placeholder="11 1234567825r">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email"asp-for="Email" class="form-control" placeholder="digite seu Email">
    </div>

    <a role="button" class="btn btn-secondary" asp-controller="Funcionarios" asp-action="Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
