
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <br />
    <h3>Este é  um projeto de pastelaria com cadastro de funcionarios e  tarefas</h3>
    <s
</div>
